@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap");
@import "tailwindcss";
@import "./ui/theme.css";

body {
	font-family: 'Roboto Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, "Segoe UI Mono", "Roboto Mono", monospace;
}
